@model HR.MVC.DHK.Models.Designation

@{
    ViewData["Title"] = "Edit Designation";
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="DesigId" />
                <input type="hidden" asp-for="ComId" />
                <div class="form-group">
                    <label asp-for="DesigName">Designation Name</label>
                    <input asp-for="DesigName" class="form-control" />
                    <span asp-validation-for="DesigName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>