@model Attendance

@{
    ViewData["Title"] = "Attendance Import";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Attendance Import</h4>
        </div>
        <div class="card-body">
            <h4 class="card-title" style="text-align:center">Data Import From Txt File</h4>
            <form id="myform" method="post" enctype="multipart/form-data" asp-action="UploadFiles" asp-controller="Attendance">
                <div class="form-group">
                    <label for="ComId">Company:</label>
                    <select class="form-control" id="ComId" name="SelectedCompanyId">
                        <option value="">Select Company</option>
                        @foreach (var company in ViewBag.Companies)
                        {
                            <option value="@company.ComId">@company.ComName</option>
                        }
                    </select>
                </div>
                <div class="input-group input-group w-50 mx-auto my-4">
                    <span class="input-group-btn input-group-prepend">
                        <span class="btn btn-primary rounded-0" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                        <input name="file" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file" id="FileUpload1" required>
                    </span>
                    <span class="form-control border border-primary" style="background: #f2f2f2e6;"></span>
                    <input type="hidden" id="comid" name="comid" value="" />
                    <input class="rounded-0 btn btn-primary btn-sm" type="submit" id="btnUpload" value="Upload Files" onclick="setComId()" />
                </div>
            </form>
            <div class="text-secondary" style="margin:20px auto;">
                <span style="font-weight:600;">Note:</span> Data Format: [DeviceNo:UserId:Date:Time]-201:22:2023-03-23:03:23:23
            </div>
        </div>
    </div>
</div>

<script>
    function setComId() {
        var selectedCompanyId = document.getElementById("ComId").value;
        document.getElementById("comid").value = selectedCompanyId;
    }
</script>
