@model HR.MVC.DHK.Models.Department

@{
    ViewData["Title"] = "Department Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Department Details</h2>

    <div>
        <h5>Department Name:</h5>
        <p>@Model.DeptName</p>
    </div>
    <div>
        <h5>Company Name:</h5>
        <p>@Model.Company?.ComName</p>
    </div>

    <a href="@Url.Action("Index", "Department")" class="btn btn-primary">Back to List</a>
</div>
